<ion-header padding="true" class="ion-no-padding">
  <ion-toolbar color=dark >    
      <img object-fit: cover src="../assets/h&f/sw-stroke.png">    
  </ion-toolbar>
</ion-header>


<ion-content color="dark">

  <ion-row> 
    <ion-col size="12">
          <ion-card *ngFor="let article of articles" color="success" style="width: 100%; margin: auto;">
          <ion-card-content>
            <div class="img-wrapper">
              <h1 class="h1"> "{{article.title}}" </h1>
              <br>
              <ion-img style="width: 100%;"src="assets/images/strokes/backstroke.jpg"></ion-img>
              <br>
              <p> {{article.desc1}} </p>
              <p> <br> {{article.desc2}} </p>
              <p> <br> {{article.desc3}} </p>
              <p> <ion-badge color="dark" slot="start"> <ion-icon color="primary" name="water" size="small"> </ion-icon> </ion-badge> {{article.desc4}} </p>
              <p> <ion-badge color="dark" slot="start"> <ion-icon color="primary" name="water" size="small"> </ion-icon> </ion-badge> {{article.desc5}} </p>
              <p> <ion-badge color="dark" slot="start"> <ion-icon color="primary" name="water" size="small"> </ion-icon> </ion-badge> {{article.desc6}} </p>
              <i><br> Credits to: {{article.credit}} </i>
            </div>
          </ion-card-content>

          <ion-toolbar lines="true" color="dark">
            <ion-buttons slot="start"> 
              <ion-back-button defaultHref="/"  color="success"> 
              <ion-icon size="large"> </ion-icon>
              </ion-back-button> 
              </ion-buttons>
                <ion-label color="success"> <!-- Click to Return --> </ion-label>
          </ion-toolbar>
        </ion-card>   
  </ion-col> 
</ion-row>
</ion-content>


<!-- <FOOTER> -->
  <ion-footer>
    <ion-toolbar color=dark>
      <ion-tabs>
        <ion-tab-bar color=dark>
          <ion-img src="assets/h&f/sw-mini.png" style="width: 100%; margin: auto;"></ion-img>
        </ion-tab-bar>
      </ion-tabs>
    </ion-toolbar>
  </ion-footer>


  